.start {
	-fx-background-color: transparent;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 5 );
}

.start:hover {
	-fx-scale-x: 2.5;
	-fx-scale-y: 2.5;
	-fx-scale-z: 2.5;
	-fx-text-fill:navy;
}

.exit {
	-fx-background-color: transparent;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 5 );
}

.exit:hover {
	-fx-scale-x: 2.5;
	-fx-scale-y: 2.5;
	-fx-scale-z: 2.5;	
	-fx-text-fill: darkorange;
}

.header {
	-fx-text-fill: red;
   	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.root {
	-fx-background-image: url("/background.jpg"); 
	-fx-background-size: cover;
}